#tituloDetalhes{
    width: 100%;
    min-height: 10%;
    margin: 0;
}

#tituloDetalhesSozinho{
    width: 100%;
    min-height: 50%;
    margin: 0;
}

#divHoraData{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    min-height: 10%;
    flex-wrap: wrap;
}

#dataDetalhes{
    height: auto;
    min-width: 50%;
}

#horaDetalhes{
    height: auto;
    min-width: 50%;
}

#divHoraDataSozinho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    min-height: 20%;
    flex-wrap: wrap;
}

#observacaoDetalhes{
    width: 100%;
    min-height: 50%;
    margin: 0;
    word-wrap: break-word;
}

#divAnexoBotoes{

    height: 30%;
    width: 48vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#contentAnexo
{
    width: 50%;
}

#anexoDetalhes{
    max-height: 20vh;
}

#contentBotoes{
    width: 49%;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2px;
    margin-top: 2px;
}

#contentBotoesSozinho{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}