.blocoTarefa {
    background-color: rgb(173, 188, 159);
    border-radius: 100px;
    height: auto;
    min-height: 15vh;
    max-height: 40vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 63%;
    overflow: hidden;
}

.header p{
    margin:0;
}

.corpo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.obs {
    height: 50px;
    width: 85%;
    text-overflow: ellipsis;
    margin: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rodapeAnexo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    width: 65%;
}

.rodapeAnexo p{
    margin: 0;
}

.upGet{
    text-decoration: none;/*Tirar sublinhado do link*/
    color: inherit; /*Herdar cor*/
}