body{
    background-color: rgb(249, 247, 201);
}

header{
    height: 13vh;
    background-color: brown;
}

main{
    height: 77vh;
    background-color: rgb(249, 247, 201);
}

footer{
    height: 10vh;
    background-color: blue;
}

#tarefas{
    background-color: rgb(255, 247, 0);
    height: 77vh;
    direction: ltr;
}

#detalhes{

    height: 77vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: aqua;
}